*{
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
  box-sizing: border-box;
  }
  
  body{
  padding: 10px;
  background-color: rgb(29, 29, 29);
  color: white;
  }
  
  header{
  width: 45%;
  height: 150px;
  box-shadow: 5px 5px 5px rgb(0,206,209);
  }
  
  #header-grid{
  margin-top: 10px;
  display: flex;
  justify-content: space-evenly;
  }
  
  #search{
  margin-top: 5px;
   width: 50%;
  }
  
  #random{
  margin-top: 5px;
   width: 30%;
  }
  
  input {
  height: 25px;
  background-color: darkgrey;
  border-radius: 4px;
  }
  
  .btn {
  background-color:rgb(0,206,209);
  border-radius: 4px;
  width: 100px;
  height: 25px;
  box-shadow: 5px 5px 5px rgb(255, 0, 225);
  margin-top: 8px;
  }
  
  #btn-ramdom{
  background-color:rgb(0,206,209);
  border-radius: 100%;
  width: 80px;
  height: 80px;
  box-shadow: 5px 5px 5px rgb(255, 0, 225);
  }
  
  main{
  margin-top: 25px;
  }
  
  .foto{
  width: 200px;
  box-shadow: 5px 5px 5px rgb(255, 123, 0);
  }
  
  #options{ 
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  width: 70%;
  margin-left: 15%;
  }
  
  .typeDrink{
  text-align: center;
  width: 100px;
  height:100px;
  box-shadow: 5px 5px 5px rgb(255, 123, 0);;
  }
  
  .typeDrink h3{
  padding-top: 35px;
  }
  
  .stlDrink{
  font-size: 15px;
  }
  
  #grid {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin: 15px;
  }
  
  #lista-ingredientes{
  list-style-type:square;
  }
  
  #modo-preparo{
  width: 80vw;
  margin: 50px;
  }
    
  #modo-preparo p{ 
  margin: 15px;
  }
  
  #nome-drink {
  border: 1px solid (255, 123, 0);
  background-color:rgb(255, 123, 0);
  margin: 0;
  color: black;
  width: 40vw;
  margin: 40px 0px;
  font-style: italic;
  box-shadow: 5px 5px 5px gray;
  }
  
  footer{
   display: flex;
    color: rgb(100, 100, 100);
    justify-content: center;
  }  

@media screen and (max-width: 600px) {
  *{
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
   }
      
    body{
    padding: 10px;
    background-color: rgb(29, 29, 29);
    color: white;
    }
  
    header{
    
    width: 100%;
    height: 150px;
    box-shadow: 5px 5px 5px rgb(0,206,209);
    }
      
    #header-grid{
    margin-top: 10px;
    display: flex;
    justify-content: space-evenly;
    }

    #search{
    margin-top: 5px;
    width: 60%;
    }
        
    #random{
    margin-top: 5px;
    width: 30%;
    }
            
    input {
    height: 25px;
    background-color: darkgrey;
    border-radius: 4px;
    }
        
    .btn {
    background-color:rgb(0,206,209);
    border-radius: 4px;
    width: 100px;
    height: 25px;
    box-shadow: 5px 5px 5px rgb(255, 0, 225);
    margin-top: 8px;
    }
        
    #btn-ramdom{
    background-color:rgb(0,206,209);
    border-radius: 100%;
    width: 80px;
    height: 80px;
    box-shadow: 5px 5px 5px rgb(255, 0, 225);
    }

    main{
    margin-top: 25px;
    }

    .foto{
    width: 90%;
    margin-left: 5%;
    box-shadow: 5px 5px 5px rgb(255, 123, 0);
    }

    #nome-drink {
      border: 1px solid (255, 123, 0);
      background-color:rgb(255, 123, 0);
      margin: 0;
      color: black;
      width: 80vw;
      margin: 40px 0px;
      font-style: italic;
      box-shadow: 5px 5px 5px gray;
      }

      #grid {
      display: flex;
      flex-direction: column;
      justify-content: space-evenly;
      align-items:baseline;
      margin: 5px;
      }

      #lista-ingredientes{
      margin-top: 20%;
      margin-left:30%;
      width: 100%;
      list-style-type:square;
      }
        
      #modo-preparo { 
      margin: 5%;
      width: 90vw;
      text-align: center;
  
      }
        
      #modo-preparo p{ 
      /* margin-top: 25px; */
      }

      footer{
      display: flex;
      color: rgb(100, 100, 100);
      justify-content: center;
      margin-top: 25px;
       } 

       footer p {
      text-align: center;
      width:250px;
       } 
           

      
        #options{ 
        display: flex;
        flex-wrap: wrap;
        justify-content: space-evenly;
        width: 100%;
       margin-left: 0;
        }
        
        .typeDrink{
        text-align: center;
        width: 100px;
        height:100px;
        box-shadow: 5px 5px 5px rgb(255, 123, 0);;
        }
        
        .typeDrink h3{
        padding-top: 35px;
        }
        
        .stlDrink{
        font-size: 15px;
        }
                        
       
       
        
    
}


